@model DiaryViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

<input type="date" id="dateEntry" onchange="filterDate(event)"/>

<div class="btn-group-toggle" data-toggle="buttons">
    @foreach (var entryType in Model.EntryTypes)
    {
        <label class="btn btn-outline-info active">
            <input type="checkbox" class="entryTypeCheckbox" data-entrytype="@entryType" onchange="filterType(event)" checked autocomplete="off"> 
            <img src="~/img/icon_review_@(entryType.ToLower()).png" width="32" style="filter: brightness(0) invert(1);"/>
        </label>
    }
</div>

<table id="diaryTable" class="table">
    <tbody>
        @foreach (var entry in Model.Entries.ToList())
        {
            if (entry is Diaper diaper)
            {
                @await Html.PartialAsync("Diary/_Diaper", diaper)
            }
            else if (entry is Formula formula)
            {
                @await Html.PartialAsync("Diary/_Formula", formula)
            }
            else if (entry is Joy joy)
            {
                @await Html.PartialAsync("Diary/_Joy", joy)
            }
            else if (entry is Growth growth)
            {
                @await Html.PartialAsync("Diary/_Growth", growth)
            }
            else if (entry is MedicationModel medication)
            {
                @await Html.PartialAsync("Diary/_Medication", medication)
            }
            else if (entry is MilestoneModel milestone)
            {
                @await Html.PartialAsync("Diary/_Milestone", milestone)
            }
            else if (entry is ActivityModel activity)
            {
                @await Html.PartialAsync("Diary/_Activity", activity)
            }
            else if (entry is SleepModel sleep)
            {
                @await Html.PartialAsync("Diary/_Sleep", sleep)
            }
            else if (entry is SupplementModel supplement)
            {
                @await Html.PartialAsync("Diary/_Supplement", supplement)
            }
            else if (entry is TemperatureModel temperature)
            {
                @await Html.PartialAsync("Diary/_Temperature", temperature)
            }
            else if (entry is VaccineModel vaccine)
            {
                @await Html.PartialAsync("Diary/_Vaccine", vaccine)
            }
        }
    </tbody>
</table>

<script>
    var tf;

    (function () {
        var filtersConfig = {
            base_path: '/js/tablefilter/',
            col_0: 'none',
            col_1: 'none',
            col_2: 'none',
            col_3: 'none',
            toolbar: false,
            themes: [{
                name: 'transparent'
            }],
            extensions: [{
                name: 'colsVisibility',
                at_start: [0, 1]
            }]
        };

        tf = new TableFilter('diaryTable', 0, filtersConfig);
        tf.init();      
    })();

    function filterDate(event) {
        tf.setFilterValue(0, event.target.value);
        tf.filter();
    }

    function filterType(event) {
        var filter = Array.from(document.getElementsByClassName("entryTypeCheckbox"))
            .filter(c => c.checked == true)
            .map(c => c.dataset.entrytype)

        tf.setFilterValue(1, filter);
        tf.filter();

        if (event.target.checked == true) {
            event.target.nextElementSibling.style.filter = "brightness(0) invert(1)";
        } else {
            event.target.nextElementSibling.style.filter = "none";
        }        
    }
</script>