@model BaseViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

<h1 class="display-4 text-center mb-5">BabyTracker</h1>

<br />

<div class="card col-12 col-lg-6 offset-lg-3">
  <div class="card-body">
    <h5 class="card-title">Upload your own BabyTracker Data Clone</h5>
    <form asp-controller="Home" asp-action="ImportFile" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="importFile">Upload file</label>
            <input type="file" class="form-control-file" name="file" id="importFile" accept=".eml,.btcp">
        </div>

        <button type="submit" class="btn btn-success">Upload</button>
    </form>
  </div>
</div>

<br />

<h3 class="text-center">Or</h3>

<br />

<div class="card col-12 col-lg-6 offset-lg-3">
  <div class="card-body">
    <h5 class="card-title">Load from an existing BabyTracker Data Clone</h5>
    <form asp-controller="Home" asp-action="LoadFile" method="post">
        <div class="form-group">
            <label for="loadFile">Baby name</label>
            <input type="text" class="form-control" name="babyName" id="loadFile" placeholder="baby name">
        </div>

        <button type="submit" class="btn btn-success">Load</button>
    </form>
  </div>
</div>