@model DiaryViewModel

@{
    ViewData["Title"] = "Memories - BabyTracker";
}

<div class="btn-group mb-3">
    <input type="radio" class="btn-check" name="viewStyle" id="viewStyleList" onchange="toggleViewStyle()" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="viewStyleList"><i class="fas fa-list"></i> List</label>

    <input type="radio" class="btn-check" name="viewStyle" id="viewStyleCard" onchange="toggleViewStyle()" autocomplete="off">
    <label class="btn btn-outline-primary" for="viewStyleCard"><i class="fas fa-image"></i> Card</label>
</div>

<table id="diaryTable" class="table">
    <tbody>
        @foreach (var group in Model.Entries.GroupBy(entry => entry.TimeUTC.Year))
        {
            var yearsAgo = DateTime.UtcNow.Year - group.Key;
            <h1 style="color: #bd4d85;">
            @yearsAgo @(yearsAgo == 1 ? "year" : "years") ago
            </h1>

            @foreach (var entry in group)
            {
                if (entry is Joy joy)
                {
                    @await Html.PartialAsync("Diary/_Joy", joy)
                }
                else if (entry is MilestoneModel milestone)
                {
                    @await Html.PartialAsync("Diary/_Milestone", milestone)
                }
                else if (entry is ActivityModel activity)
                {
                    @await Html.PartialAsync("Diary/_Activity", activity)
                }
            }
        }
    </tbody>
</table>

@section Stylesheets
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablefilter@0.7.2/dist/tablefilter/style/tablefilter.css" integrity="sha256-c7YN3IgXXHvHcnOWkftGwcQ9F0l2tsH2Ua8+AmzG0pQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablefilter@0.7.2/dist/tablefilter/style/colsVisibility.css" integrity="sha256-+Q6jko+sEPdnOH+MHab8hGoxCpzj0AlcJ6JMQuB/vgU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablefilter@0.7.2/dist/tablefilter/style/themes/transparent/transparent.css" integrity="sha256-VHXsvL4pDDrxtrd0OaxD5fYNxfhlS90VCLltrXtHgjc=" crossorigin="anonymous">
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/tablefilter@0.7.2/dist/tablefilter/tablefilter.js" integrity="sha256-VoFNUX5JVmFagSdl8p2r4GMpfy0RX2RqEsYTYbFxhrE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/tablefilter@0.7.2/dist/tablefilter/tf-1-2aa33b10e0e549020c12.js" integrity="sha256-fPZZ9rpwQM8DOSfGdS1UK2MJFxd1K+tMTbytcwm0tNc=" crossorigin="anonymous"></script>

    <script>
        var tf;

        (function () {
            var filtersConfig = {
                col_0: 'none',
                col_1: 'checklist',
                col_2: 'none',
                col_3: 'none',
                col_4: 'none',
                toolbar: false,
                themes: [{
                    name: 'transparent'
                }],
                extensions: [{
                    name: 'colsVisibility',
                    at_start: [0, 1, 4]
                }]
            };

            tf = new TableFilter('diaryTable', 0, filtersConfig);
            tf.init();
        })();

        function toggleViewStyle() {
            var tfColsVisibility = tf.extension('colsVisibility');
            tfColsVisibility.toggleCol(2);
            tfColsVisibility.toggleCol(3);
            tfColsVisibility.toggleCol(4);
        }

        function saveCard(selector) {
            $(".btn-screenshot").toggle();

            var scrollTop = document.documentElement.scrollTop;

            window.scrollTo(0, 0);

            html2canvas(document.querySelector("#" + selector)).then(canvas => {
                canvas.toBlob(function (blob) {
                    saveAs(blob, selector + ".png");
                });
            });

            window.scrollTo(0, scrollTop);

            $(".btn-screenshot").toggle();
        }
    </script>
}