@model BabyTracker.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

<h1 class="display-4 text-center mb-5">Login</h1>

<br />

@await Html.PartialAsync("_Notification")

<div class="card col-12 col-lg-6 offset-lg-3 p-3">
    <form asp-action="Login" asp-controller="Account">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
        <input type="text" class="form-control" placeholder="Email" asp-for="@Model!.EmailAddress" value="@Model.EmailAddress" >
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password" value="@Model.Password" >
      </div>

      <center>
          <button type="submit" class="btn btn-primary">Login</button>
      </center>
    </form> 
</div>

<br />

<div class="col-12 col-lg-6 offset-lg-3 p-3 text-center">
    <h3>Or</h3>
    <br />
    <a href="/account/register">Register</a>
</div>

<div class="col-12 col-lg-6 offset-lg-3 p-3 text-center">
    <h3>Or</h3>
    <br />
    <a href="/account/resetpassword">Reset password</a>
</div>
