@model BabyTracker.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

@if (Model != null)
{
    <h1 class="display-4 text-center mb-5">Reset password</h1>

    <br />

    <div class="card col-12 col-lg-6 offset-lg-3 p-3">
        <form asp-action="ResetPassword" asp-controller="Account">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
            <input type="text" class="form-control" placeholder="Email" asp-for="@Model.EmailAddress" value="@Model.EmailAddress" >
          </div>

          <center>
              <button type="submit" class="btn btn-primary">Reset password</button>
          </center>
        </form>
    </div>
}