@model ActivityModel

<tr>
    <td>
        <img src="~/img/icon_review_activities.png" width="32" />
    </td>
    <td>
        @Model.Time.ToShortTimeString()<br />
        @Model.OtherActivity<br />
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
        @if (!string.IsNullOrEmpty(Model.Filename))
        {
            <br /><a href="~/picture/@Model.Filename" target="_blank"><img src="~/picture/@Model.Filename/thumbnail" width="200" /></a>
        }
    </td>
</tr>