@model Joy

<tr>
    <td>
        @Model.Time.ToShortDateString()
    </td>
    <td>
        Joy
    </td>
    <td>
        <img src="~/img/icon_review_joy.png" width="64" />
    </td>
    <td>
        @Model.Time.ToShortDateString() @Model.Time.ToShortTimeString()<br />
        <h5 class="text-success">Joy</h5>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <br />@Model.Note
        }
        @if (!string.IsNullOrEmpty(Model.Filename))
        {
            <br /><a href="~/picture/@Model.Filename" target="_blank"><img src="~/picture/@Model.Filename/thumbnail" width="200" /></a>
        }
    </td>
</tr>