@model BaseViewModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #bd4d85">
    <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">BabyTracker</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                @if (!string.IsNullOrEmpty(Model?.BabyName))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName">
                            @Model.BabyName                               
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/charts">
                            Charts                               
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/gallery">
                            Gallery                               
                        </a>
                    </li>
                }

                @if (Model?.ShowMemoriesLink == true)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/@Model.BabyName/memories">
                            Memories
                            @if (Model?.MemoriesBadgeCount > 0)
                            {
                                <span class="badge bg-light text-dark">@Model.MemoriesBadgeCount</span>
                            }                               
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle article-img" src="@Model?.Profile?.Image" height="30" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@Model?.Profile?.Name"/>
                            @Model?.Profile?.Nickname
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/import">Import</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/account/logout">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/account/login">
                            <i class="fas fa-user-circle"></i>
                            Login                               
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>