@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">@Model.Message</h3>

<br/><br/>

<a class="btn btn-primary" href="/" role="button"><i class="fas fa-angle-left"></i> Back to safety</a>
