@using BabyTracker.Models.Database;

@model BabyTracker.Models.ViewModels.BabiesViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

<h1 class="display-4 text-center mb-5">BabyTracker</h1>

<br />

@foreach (Baby baby in Model.Babies)
{
    <div class="card bt-purple-background text-white" style="width: 18rem;">
        <img src="~/picture/@baby.PictureFileName" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@baby.Name</h5>
            <h6 class="card-subtitle mb-2">@baby.Age()</h6>
            <div class="text-center">
                <a href="/@baby.Name" class="btn btn-outline-light stretched-link">Load</a>
            </div>
        </div>
    </div>
}    