@model BabyTracker.Models.ViewModels.GalleryViewModel

@{
    ViewData["Title"] = "Gallery - BabyTracker";
}

@if (Model != null)
{
    <div class="row">
        @foreach (var picture in Model.Pictures)
        {
            <div class="col-lg-6 col-md-6 col-xs-6 mb-3">
                <a href="~/picture/@picture.FileName" class="gallery-item">
                    <img src="~/picture/@picture.FileName/thumbnail" loading="lazy" class="img-thumbnail" />
                </a>
            </div>
        }
    </div>
}

@section Stylesheets
{
<link rel="stylesheet" href="/css/magnific-popup.css" />
}

@section Scripts
{
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <script>
        $('.gallery-item').magnificPopup({
            type: 'image',
            gallery:{
                enabled:true
            }
        });
    </script>
}