@model BabyTracker.Models.ViewModels.BaseViewModel

@{
    ViewData["Title"] = "BabyTracker";
}

<h1 class="display-4 text-center mb-5">BabyTracker</h1>

<br />

<div class="card col-12 col-lg-6 offset-lg-3">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">Please login and upload your first Data Clone to get started!</p>
    <a href="/account/login" class="btn btn-primary">Login</a>
  </div>
</div>